<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>492913078024-eiiuldmv8ri7cbp1267iqmdvi8ctqloe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.492913078024-eiiuldmv8ri7cbp1267iqmdvi8ctqloe</string>
	<key>API_KEY</key>
	<string>AIzaSyDZdu62qMxsw2aQjZtGaSls-cPi_Ga3s3U</string>
	<key>GCM_SENDER_ID</key>
	<string>492913078024</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appPhoRent</string>
	<key>PROJECT_ID</key>
	<string>appphorent</string>
	<key>STORAGE_BUCKET</key>
	<string>appphorent.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:492913078024:ios:f5799b58699b994abc06bd</string>
	<key>DATABASE_URL</key>
	<string>https://appphorent.firebaseio.com</string>
</dict>
</plist>
